[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group Registered Users
	owner = group user/ertugrul88
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group Registered Users
	label-Code-Review = -2..+2 group user/ertugrul88
	label-Verified = -1..+1 group Registered Users
	label-Verified = -1..+1 group user/ertugrul88
	push = group Registered Users
	push = group user/ertugrul88
	read = group Registered Users
	read = group user/ertugrul88
	rebase = group Registered Users
	rebase = group user/ertugrul88
	removeReviewer = group Registered Users
	removeReviewer = group user/ertugrul88
	submit = group Registered Users
	submit = group user/ertugrul88
	exclusiveGroupPermissions = label-Code-Review label-Verified push read rebase removeReviewer submit
[access "refs/heads/*"]
	create = group Registered Users
	create = group user/ertugrul88
	push = group Registered Users
	push = +force group user/ertugrul88
	pushMerge = group Registered Users
	pushMerge = group user/ertugrul88
	read = group Registered Users
	read = group user/ertugrul88
	exclusiveGroupPermissions = create push pushMerge read
[access "refs/tags/*"]
	push = group Registered Users
	push = group user/ertugrul88
	exclusiveGroupPermissions = push
[project]
	state = read only
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
