[access]
	inheritFrom = All-Projects
[submit]
	action = merge always
[access "refs/*"]
	owner = group user/ertugrul88
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group company_users
	label-Code-Review = -2..+2 group user/ertugrul88
	label-Verified = -1..+1 group company_users
	label-Verified = -1..+1 group user/ertugrul88
	push = deny group company_users
	push = group user/ertugrul88
	read = group company_users
	read = group user/ertugrul88
	rebase = group company_users
	rebase = group user/ertugrul88
	removeReviewer = group company_users
	removeReviewer = group user/ertugrul88
	submit = group company_users
	submit = group user/ertugrul88
	exclusiveGroupPermissions = label-Code-Review label-Verified push read rebase removeReviewer submit
[access "refs/heads/*"]
	create = group company_users
	create = group user/ertugrul88
	push = deny group company_users
	push = +force group user/ertugrul88
	pushMerge = deny group company_users
	pushMerge = group user/ertugrul88
	read = group company_users
	read = group user/ertugrul88
	exclusiveGroupPermissions = create push pushMerge read
[access "refs/tags/*"]
	push = group company_users
	push = group user/ertugrul88
	exclusiveGroupPermissions = push
[project]
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
